# Django #

*.pyc
__pycache__

# If you are using virtualenv #
env/
venv/

# If you are using VS Code #
.vscode/

api/migrations/*.py

#For Proper Testing purpose I am sending the .env file else we need to add here
# .env